.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container {
  width: 100% !important;
  min-height: 183px !important;
}

.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon {
  font-size: 120px !important;
}

.ant-upload-wrapper .ant-upload-select {
  display: block;
}

/* 
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item .ant-upload-list-item-name {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  padding: 0 8px;
  line-height: 1.5714285714285714;
  flex: auto;
  transition: all 0.3s;
} */

.custom-upload-item {
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  height: 100% !important;
}

.preview-overlay {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important; /* Add spacing between icons */
  background: rgba(0, 0, 0, 0.5) !important; /* Dark overlay for better contrast */
  opacity: 0 !important;
  transition: opacity 0.3s !important;
  z-index: 10 !important;
}

.preview-icon, .delete-icon {
  color: white !important;
  font-size: 18px !important; /* Adjust size as needed */
  cursor: pointer !important;
}

.custom-upload-item:hover .preview-overlay {
  opacity: 1 !important; /* Show overlay on hover */
}